<div class="clearfix">
	<div class="modal-header model-grey-color">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()"><span aria-hidden="true">×</span></button>
		<h4 class="modal-title">View : {{phone_number_type.name}}</h4>
	</div>
	<div class="modal-body">
		<dl class="dl-horizontal">
			<dt>Name</dt>
			<dd>{{phone_number_type.name}}</dd>
			<dt>Description</dt>
			<dd>{{phone_number_type.description}}</dd>
		</dl>
	</div>
		<div class="modal-footer">
		<button class="btn btn-danger" data-dismiss="modal" ng-click="closeModal()"><i class="fa fa-close"></i> Close</button>
	</div>
</div>