<!-- Sidebar -->
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" style="margin-left:0;">
            <li>
                <a href="#/">
                    <i class="fa fa-superpowers" aria-hidden="true"></i><span style="margin-left:10px;">Home</span>
                </a>
            </li>
            <li>
                <a href="#/users">
                    <i class="fa fa-address-book-o" aria-hidden="true"></i><span style="margin-left:10px;">User mangement</span>
                </a>
            </li>
            <li>
                <a href="#/products">
                    <i class="fa fa-cube" aria-hidden="true"></i><span style="margin-left:10px;">Products</span>
                </a>
            </li>
            <li>
                <a href="#/product_categories">
                    <i class="fa fa-cubes" aria-hidden="true"></i><span style="margin-left:10px;">Product categories</span>
                </a>
            </li>
            <li>
                <a href="#/company_brands">
                    <i class="fa fa-rebel" aria-hidden="true"></i><span style="margin-left:10px;">Brands</span>
                </a>
            </li>
            <li>
                <a href="#/companies">
                    <i class="fa fa-empire" aria-hidden="true"></i><span style="margin-left:10px;">Companies</span>
                </a>
            </li>
            <li>
                <a href="#/manufacturers">
                    <i class="fa fa-tasks" aria-hidden="true"></i><span style="margin-left:10px;">Manufacturers</span>
                </a>
            </li>
            <li>
                <a href="#/phone_number_types">
                    <i class="fa fa-tty" aria-hidden="true"></i> <span style="margin-left:10px;">Phone number types</span>
                </a>
            </li>
            <li>
                <a href="#/login">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> <span style="margin-left:10px;">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>