<ng-include src="'views/system/sidebar.html'"></ng-include>
<h2>Brands</h2>
<div class="row well">
    <button type="button" class="btn btn-info pull-right" ng-click="vm.addRecord()">
        <i class="glyphicon glyphicon-plus"></i> Add New Brand</button>
</div>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th class="col-sm-4">Name</th>
            <th class="col-sm-5">Company</th>
            <th class="col-sm-3">Management</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="company_brand in vm.company_brands">
            <td>{{company_brand.name}}</td>
            <td>{{company_brand.company}}</td>
            <td class="">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-info" ng-click="vm.viewRecord(company_brand.id)">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="vm.editRecord(company_brand.id)">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="vm.deleteRecord(company_brand.id)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
